[Unit]
Description=Greenhouse service
After=multi-user.target

[Service]
WorkingDirectory=<home>
ExecStart=<path/to/__main__.py>
Restart=always
Environment=PYTHONPATH=<path/to/packages>
User=<user>
[Install]
WantedBy=multi-user.target

